*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Poppins',sans-serif;
}

body{
background:black;
color:white;
}

/* NAVBAR */
.navbar{
position:absolute;
width:100%;
display:flex;
justify-content:space-between;
align-items:center;
padding:25px 80px;
z-index:10;
}

.logo{
font-size:24px;
font-weight:700;
color:#7CFC00;
}

.navbar nav a{
color:white;
text-decoration:none;
margin-left:30px;
transition:0.3s;
}

.navbar nav a:hover{
color:#7CFC00;
}

/* HERO SECTION */
.hero{
height:100vh;
display:flex;
align-items:center;
padding-left:100px;

background:
linear-gradient(to right,
rgba(0,0,0,0.98) 30%,
rgba(0,0,0,0.85) 50%,
rgba(0,0,0,0.4) 70%,
rgba(0,0,0,0) 90%
),
url("photo.jpg") right center/contain no-repeat,
black;
}

/* TEXT */
.content h4{
color:#7CFC00;
letter-spacing:3px;
margin-bottom:10px;
}

.content h1{
font-size:70px;
margin-bottom:10px;
}

.content span{
color:#7CFC00;
}

#typing{
font-size:22px;
margin-bottom:30px;
}

/* BUTTONS */
.btn{
display:inline-block;
padding:14px 32px;
margin-right:20px;
background:#7CFC00;
color:black;
text-decoration:none;
border-radius:5px;
}

.outline{
background:transparent;
border:2px solid #7CFC00;
color:#7CFC00;
}

/* ABOUT */
.about-section{
display:flex;
align-items:center;
justify-content:center;
gap:60px;
padding:80px;
flex-wrap:wrap;
}

.about-left img{
width:300px;
height:auto;
border-radius:10px;
object-fit:contain;
box-shadow:0 0 20px rgba(124,252,0,0.4);
}

.about-right{
max-width:500px;
}

.info-box{
margin-top:20px;
background:rgba(255,255,255,0.05);
padding:20px;
border-left:4px solid #7CFC00;
}

/* CONTACT */
.contact-section{
display:flex;
justify-content:center;
align-items:center;
min-height:60vh;
}

.contact-card{
background:rgba(255,255,255,0.05);
padding:40px;
border-radius:10px;
text-align:center;
}
