*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Poppins',sans-serif;
}

body{
background:black;
color:white;
}

/* NAVBAR */
.navbar{
position:absolute;
width:100%;
display:flex;
justify-content:space-between;
align-items:center;
padding:25px 80px;
}

.logo{
color:#7CFC00;
}

.navbar nav a{
color:white;
margin-left:20px;
text-decoration:none;
position:relative;
}

.navbar nav a::after{
content:"";
position:absolute;
width:0;
height:2px;
background:#7CFC00;
left:0;
bottom:-5px;
transition:0.3s;
}

.navbar nav a:hover::after{
width:100%;
}

/* HERO */
.hero{
height:100vh;
display:flex;
align-items:center;
padding-left:100px;

background:
linear-gradient(to right, black, transparent),
url("photo.jpg") right/contain no-repeat;
}

.content h1 span{
color:#7CFC00;
text-shadow:0 0 10px #7CFC00;
}

.btn{
padding:10px 20px;
background:#7CFC00;
color:black;
text-decoration:none;
margin-right:10px;
transition:0.3s;
}

.btn:hover{
box-shadow:0 0 20px #7CFC00;
}

/* ABOUT */
.about-section{
display:flex;
justify-content:center;
align-items:center;
gap:50px;
padding:80px;
flex-wrap:wrap;
}

.about-left img{
width:250px;
border-radius:10px;
transition:0.4s;
}

.about-left img:hover{
transform:scale(1.1);
}

/* CONTACT */
.contact-section{
display:flex;
justify-content:center;
align-items:center;
height:100vh;
}

.contact-card{
padding:30px;
background:#111;
border-radius:10px;
transition:0.3s;
}

.contact-card:hover{
transform:translateY(-10px);
}

/* ANIMATION */
.hidden{
opacity:0;
transform:translateY(40px);
transition:0.6s;
}

.show{
opacity:1;
transform:translateY(0);
}
