*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Poppins',sans-serif;
}

body{
background:black;
color:white;
overflow:hidden;
}

/* NAVBAR */
.navbar{
position:absolute;
width:100%;
display:flex;
justify-content:space-between;
align-items:center;
padding:25px 80px;
z-index:10;
}

.logo{
font-size:24px;
font-weight:700;
color:#7CFC00;
}

.navbar nav a{
color:white;
text-decoration:none;
margin-left:30px;
transition:0.3s;
}

.navbar nav a:hover{
color:#7CFC00;
}

/* HERO SECTION */
.hero{
height:100vh;
display:flex;
align-items:center;
padding-left:100px;

/* IMAGE + BLEND EFFECT */
background:
linear-gradient(to right,
rgba(0,0,0,0.98) 30%,
rgba(0,0,0,0.85) 50%,
rgba(0,0,0,0.4) 70%,
rgba(0,0,0,0) 90%
),
url("photo.jpg") right center/contain no-repeat,
black;
}

/* TEXT AREA */
.content h4{
color:#7CFC00;
letter-spacing:3px;
margin-bottom:10px;
}

.content h1{
font-size:70px;
margin-bottom:10px;
}

.content span{
color:#7CFC00;
}

#typing{
font-size:22px;
font-weight:300;
height:30px;
margin-bottom:30px;
}

/* BUTTONS */
.btn{
display:inline-block;
padding:14px 32px;
margin-right:20px;
background:#7CFC00;
color:black;
text-decoration:none;
font-weight:600;
border-radius:5px;
transition:0.3s;
}

.btn:hover{
background:white;
}

.outline{
background:transparent;
border:2px solid #7CFC00;
color:#7CFC00;
}

.outline:hover{
background:#7CFC00;
color:black;
}
