body{
    margin:0;
    font-family: Arial;
    background:#f4f6f8;
}

header{
    background:#0d6efd;
    color:white;
    padding:15px;
    text-align:center;
}

nav a{
    color:white;
    margin:10px;
    text-decoration:none;
    font-weight:bold;
}

.container{
    padding:30px;
    text-align:center;
}

img{
    width:180px;
    border-radius:50%;
    margin-top:15px;
}

.card{
    background:white;
    padding:20px;
    margin:20px auto;
    width:80%;
    box-shadow:0px 0px 10px rgba(0,0,0,0.2);
}