body{
    margin:0;
    font-family: Arial;
    background:#f4f6f8;
}

header{
    background:#0d6efd;
    color:white;
    padding:15px;
    text-align:center;
*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Poppins',sans-serif;
}

body{
background:linear-gradient(120deg,#0f2027,#203a43,#2c5364);
color:white;
}

/* NAVBAR */
header{
display:flex;
justify-content:space-between;
align-items:center;
padding:20px 60px;
background:rgba(0,0,0,0.4);
}

.logo{font-weight:700;}

nav a{
color:white;
margin-left:20px;
text-decoration:none;
transition:.3s;
}
nav a:hover{color:#00ffd5;}

/* HERO */
.hero{
display:flex;
align-items:center;
justify-content:space-around;
height:80vh;
}

.hero-text h1{
font-size:48px;
margin:10px 0;
}

.hero-text h3{
color:#00ffd5;
margin-bottom:20px;
}

.hero-img img{
width:260px;
border-radius:50%;
border:5px solid #00ffd5;
box-shadow:0 0 40px rgba(0,255,213,0.6);
}

/* BUTTONS */
.btn{
padding:12px 25px;
background:#00ffd5;
color:black;
text-decoration:none;
border-radius:25px;
margin-right:15px;
font-weight:600;
transition:.3s;
}

.btn:hover{
background:white;
}

.outline{
background:transparent;
border:2px solid #00ffd5;
color:white;
}

/* SKILLS */
.skills{
text-align:center;
padding:60px 20px;
}

.cards{
display:flex;
justify-content:center;
gap:30px;
margin-top:30px;
flex-wrap:wrap;
}

.card2{
background:rgba(255,255,255,0.08);
padding:25px;
width:220px;
border-radius:15px;
transition:.3s;
}

.card2:hover{
transform:translateY(-10px);
background:rgba(0,255,213,0.2);
}
    width:80%;
    box-shadow:0px 0px 10px rgba(0,0,0,0.2);

}
