/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* BODY */
body {
    background-color: #000;
    color: #fff;
}

/* NAVBAR */
header {
    width: 100%;
    padding: 20px 10%;
    background: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 25px;
    color: #8fd3ff;
    font-weight: bold;
}

/* NAV LINKS */
nav a {
    color: white;
    margin-left: 30px;
    text-decoration: none;
    font-size: 18px;
    transition: 0.3s;
}

nav a:hover {
    color: #8fd3ff;
}

/* HOME SECTION */
.home {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0 10%;
}

/* TEXT */
.home-content h1 {
    font-size: 50px;
}

.home-content h3 {
    font-size: 25px;
    margin-top: 10px;
}

/* ANIMATED TEXT */
.animated-text {
    color: #8fd3ff;
    border-right: 2px solid #8fd3ff;
    white-space: nowrap;
    overflow: hidden;
    width: 0;
    animation: typing 3s steps(20, end) forwards, blink 0.7s infinite;
}

@keyframes typing {
    from { width: 0 }
    to { width: 200px }
}

@keyframes blink {
    50% { border-color: transparent }
}

/* IMAGE FIX */
.home-img {
    position: relative;
}

.home-img img {
    width: 300px;
    border-radius: 50%;
    filter: brightness(1.1);
}

/* DARK TO LIGHT EFFECT */
.home-img::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.9) 0%,
        rgba(0, 0, 0, 0.4) 40%,
        rgba(0, 0, 0, 0) 100%
    );
}

/* ABOUT SECTION */
.about {
    padding: 80px 10%;
}

.about h2 {
    font-size: 40px;
    color: #8fd3ff;
    margin-bottom: 20px;
}

.about p {
    font-size: 18px;
    line-height: 1.6;
}

/* SKILLS */
.skills {
    margin-top: 20px;
}

.skills span {
    display: inline-block;
    background: #8fd3ff;
    color: black;
    padding: 8px 15px;
    margin: 5px;
    border-radius: 20px;
    font-size: 14px;
}

/* CONTACT SECTION */
.contact {
    padding: 80px 10%;
}

.contact h2 {
    color: #8fd3ff;
    font-size: 40px;
    margin-bottom: 20px;
}

/* CONTACT BOXES */
.contact-box {
    background: #111;
    padding: 15px;
    margin: 10px 0;
    border-left: 4px solid #8fd3ff;
    border-radius: 8px;
    transition: 0.3s;
}

.contact-box:hover {
    transform: translateX(10px);
    background: #1a1a1a;
}

/* BUTTON */
.btn {
    display: inline-block;
    padding: 10px 20px;
    background: #8fd3ff;
    color: black;
    border-radius: 5px;
    margin-top: 20px;
    text-decoration: none;
    transition: 0.3s;
}

.btn:hover {
    background: #bde9ff;
}

/* FOOTER TEXT TOP RIGHT */
.top-right {
    position: absolute;
    top: 20px;
    right: 10%;
    color: #8fd3ff;
    font-weight: bold;
}
